
.App {
  text-align: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}


.App-header {
  background-color: #fe8a71;
  height: 150px;
  padding: 20px;
  color:  #0e9aa7;
}

